*{
    margin: 0;
    padding: 0;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: #262626;
    overflow: hidden;
}

.card .imgbox, .card .des {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: 0.5s all;

}

.card .imgbox {
    top: 0;
    left: 0;
}

.card:hover .imgbox {
    top: 0;
    left: -100%;
}

.card .imgbox img{
    width: 100%;
}

.card .des {
    background-color: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}

.card:hover .des {
    top: 0;
    left: 0%;
}

.card .des h1 {
    color: white;
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 2px solid white;
}

.card .des p{
    color: white;
    margin: 20px 0 0 0;
    text-align: justify;
}